/* Folha de estilo do app */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Oswald:wght@700&display=swap');
*{
    background-color: rgb(34, 34, 34);
    color: rgb(218, 218, 218);
    font-family: 'Oswald',sans-serif;
    
}

.App{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 80vh; /* viewport height (escala)*/
    
}

button{
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    margin-top: 40px;
    padding: 10px;
    width: 50;
    background-color: rgb(218, 218, 218);
    color: rgb(34, 34, 34);
    border-radius: 50px;
    cursor: pointer;
}
img{
    width: 128px;
    border-radius: 64px;
    margin: 3px;
}
.fotos {
    display: flex;
    flex-direction: row;
}